# Telegram Bot Credentials
TELEGRAM_BOT_TOKEN=8989642857:AAERBOF9_Tx8sNXl449DMvMFUmDDsTxL0sg
TELEGRAM_CHAT_ID=800647379
TELEGRAM_CHANNEL_ID=@upshift_jobs
TELEGRAM_DRY_RUN=false

# Firebase Configuration
FIREBASE_PROJECT_ID=upshiftjobs
FIREBASE_API_KEY=AIzaSyC2gQprgxVB_zEY_MLWaY08mC9__w2pySQ
